<div class="container-fluid login">
  <div class="row">
    <div class="col-1"></div>
<div class="col-4">
    <mat-card class="example-card text-center text-white mt-5 bb">
        <mat-card-header> 
          <mat-card-title>Admin Login</mat-card-title>
    </mat-card-header>
<mat-card-content>
          <form class="example-form text-white">
              <mat-form-field class="example-full-width ">
                <input matInput placeholder="Username" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width ">
                <input matInput placeholder="Password" value="">
              </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
         <button class="btn float-right" (click)="abc();"mat-button>Submit</button> 
        </mat-card-actions>
      </mat-card>  
</div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
</div>
    </div>
  </div>

