.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .login{
    background-image: url('../../../assets/img3.jpg');
    background-color: transparent;
  background-size: cover;
    height: 595px;
  }
  .bb{
    background-color:silver;
    height: 255px;
  }
  .btn{
    background-color:rgb(18, 158, 214);
    margin-bottom: 10px;
    margin-right: 20px;
  }