  <div class="container-fluid employee">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-7">
  <mat-card class="example-card text-white ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image "></div>
      <mat-card-title>Number of Employees</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-secondary  emply" (click)="submit();">submit</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>