.example-container {
    width: 1260px;
    height: 550px;
    margin: 10px;
  }
  .mat-drawer{
      background-color:dimgray;
      width: 210px;
      height: 527px;
  }
  .logo{
      margin-left:80px ;
      
  }